<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		  <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
         <typeAlias type="edu.study.vo.MemberVO" alias="MemberVO"/>
         <typeAlias type="edu.study.vo.ProductVO" alias="ProductVO"/>
         <typeAlias type="edu.study.vo.HotProductVO" alias="HotProductVO"/>
         <typeAlias type="edu.study.vo.CartVO" alias="CartVO"/>
         <typeAlias type="edu.study.vo.AddressVO" alias="AddressVO"/>
         <typeAlias type="edu.study.vo.OrderVO" alias="OrderVO"/>
         <typeAlias type="edu.study.vo.OrderVO" alias="WishListVO"/>
    </typeAliases>

</configuration>