<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.CartMapper">
		<!-- 카트 목록 -->
  	<select id="list" resultType="CartVO" parameterType="int">
   		 SELECT c.ctidx,  
  		 	p.pidx,  
   		 	m.midx, 
  		 	c.cnt, 
   		 	m.mName,  
   		 	p.pPrice,  
  		 	p.pBrandeng,
  		 	p.pBrandkr, 
   		 	p.pNamekr, 
   		 	p.pColor, 
   		 	c.ctsize,
  		 	p.pFile1 
   		 	FROM cart c, product p, member m 
  		 	WHERE c.pidx=p.pidx AND m.midx = c.midx AND c.midx=#{c.midx}
	 	ORDER BY ctidx 
  	</select> 
  	
  	<!-- 중복 확인 -->
  	 <select id="check" resultType="int" parameterType="CartVO">
  	 	SELECT 
  	 		count(*) 
  	 	FROM cart WHERE pidx=#{pidx} AND midx=#{midx}
  	 	</select>
  	 	
	<!-- 합계  -->
	  	<select id="sum" resultType="int">
		  	SELECT  case count(c.midx) when 0 then 0 else sum(replace(p.pprice,',',''))  end  as total
			  FROM cart c, product p  
			 WHERE c.pidx = p.pidx and c.midx=#{c.midx}
	  	</select>
	  	
	<!-- 총합 -->
	<select id="sumMoney" resultType="int">
		SELECT IFNULL(SUM(p.pPrice*cnt),0) money
		FROM cart c, product p
		WHERE c.pidx = p.pidx AND c.midx=#{c.midx}
	</select>
	
	<!-- 상품개별삭제 -->
	<delete id="del" parameterType="int">
		DELETE FROM cart WHERE ctidx=#{ctidx}
	</delete>
	
	<!-- 상품전체삭제 -->
	<update id="delAll" parameterType="int">
		DELETE FROM cart WHERE midx=#{midx}
	</update>
	
	<!-- 수량 업데이트 -->
	<update id="update" parameterType="CartVO">
		UPDATE cart SET cnt = #{cnt} WHERE ctidx = #{ctidx} 
	</update>
	
	<!-- 전체주문 -->
	<select id="order" resultType="CartVO" parameterType="CartVO">
		SELECT c.ctidx,  
  		 	p.pidx,  
   		 	m.midx, 
  		 	c.cnt, 
   		 	m.mName,  
   		 	p.pPrice,  
  		 	p.pBrandeng,
  		 	p.pBrandkr, 
   		 	p.pNamekr, 
   		 	p.pColor, 
   		 	c.ctsize,
  		 	p.pFile1 ,
  		 	m.mEmail,
  		 	m.mPhone,
            (p.pprice*c.cnt) as total
    		FROM cart c, product p, member m WHERE c.pidx = p.pidx AND c.midx = m.midx AND c.ctidx IN
    		<foreach collection="shoes" index="index" item="ctidx" open="(" separator="," close=")">#{ctidx}</foreach>
	</select>
	
	<select id="wish" resultType="WishListVO" parameterType="WishListVO">
	 	SELECT p.pbrandeng,
	 	p.pnamekr,
	 	p.pprice,
	 	p.pcolor,
	 	p.pidx,
	 	w.widx,
	 	w.midx,
	 	w.ctsize,
	 	p.pfile1 
	 	FROM wish w, product p where w.pidx=p.pidx AND w.widx = #{widx};
	</select>
	
	<insert id="cartInsert" parameterType="WishListVO">
		    INSERT INTO cart (
			ctwriteday
			,pidx
			,midx
			,cnt
			,ctsize
		    ) VALUES
		    (
		    	NOW()
		    	,#{pidx}		
		    	,#{midx}
		    	,#{cnt}
		    	,#{ctsize}
		    	)
    </insert>
	
</mapper>