<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.CartMapper">
		<!-- 카트 목록 -->
  	<select id="list" resultType="CartVO" parameterType="int">
   		 SELECT c.ctidx,  
  		 	p.pidx,  
   		 	m.midx, 
  		 	amount, 
   		 	m.mName,  
   		 	p.pPrice,  
  		 	p.pBrandeng,
  		 	p.pBrandkr, 
   		 	p.pNamekr, 
   		 	p.pColor, 
   		 	c.ctsize,
  		 	p.pFile1 
   		 	FROM cart c, product p, member m 
  		 	WHERE c.pidx=p.pidx AND m.midx = c.midx AND c.midx=#{c.midx}
	 	ORDER BY ctidx 
  	</select> 
  
	<!-- 합계  -->
	  	<select id="sum" resultType="int">
		  	SELECT  case count(c.midx) when 0 then 0 else sum(to_number(replace(p.pprice,',','')))  end  as total
			  FROM cart c, product p  
			 WHERE c.pidx = p.pidx and c.midx=#{c.midx}
	  	</select>
	  	
	<!-- 총합 -->
	<select id="sumMoney" resultType="int">
		SELECT NVL(SUM(p.pPrice*amount),0) money
		FROM cart c, product p
		WHERE c.pidx = p.pidx AND c.midx=#{c.midx}
	</select>
	
	<!-- 상품개별삭제 -->
	<delete id="del" parameterType="int">
		DELETE FROM cart WHERE ctidx=#{ctidx} AND midx = #{midx}
	</delete>
	
	<update id="update">
		UPDATE cart SET amount = #{cnt} WHERE ctidx = #{ctidx} 
	</update>
	
	<select id="listOne" resultType="CartVO" parameterType="int">
		SELECT c.ctidx,  
  		 	p.pidx,  
   		 	m.midx, 
  		 	amount, 
   		 	m.mName,  
   		 	p.pPrice,  
  		 	p.pBrandeng,
  		 	p.pBrandkr, 
   		 	p.pNamekr, 
   		 	p.pColor, 
   		 	c.ctsize,
  		 	p.pFile1 
  		 	FROM cart c, product p, member m 
  		 	WHERE c.pidx=p.pidx AND m.midx = c.midx AND c.midx=#{c.midx} AND c.ctidx=#{c.ctidx}
	 	ORDER BY ctidx 
	</select>
	
	<!-- 주문상품 담기 -->
	<insert id="insert" parameterType="CartVO">
    <![CDATA[		
	    INSERT INTO ordered VALUES( 
		    	 oidx_seq.nextval 
		    	,sysdate 
 		    	,#{omessage}		 
 		    	,#{midx} 
		    	,#{pidx} 
 		    	,#{adidx} 
 		    	,#{ctidx} 
 		    ) 
 		    ]]> 
		    <selectKey resultType="int" keyProperty="oidx" order="AFTER">		
		    	SELECT MAX(oidx) FROM ordered
		    </selectKey>
    </insert>
  	
  	
  	
</mapper>