<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.ProductMapper">
	 <select id="list" resultType="ProductVO">
	 	SELECT pidx
	 		,pNameKr
	 		,pNameEng
	 		,pBrandKr
	 		,PBrandEng
	 		,pPrice
	 		,pSize
	 		,pColor
	 		,pType
	 		,pFile1
	 		,pFile2
	 		,pFile3
	 		,pFile4
	 		,pFile5
	 		,pWrite
	 		,case pGender when 'M' then 'MEN' when 'W' then 'WOMEN' when 'K' then 'KIDS' else 'MEN' end as pGender
   		FROM product
   		WHERE 1=1 
   		<!-- select case pGender when 'M' then 'MEN' when 'W' then 'WOMEN' when 'K' then 'KIDS' else 'MEN' end as pGender from product -->
   </select>

	<select id="detail" resultType="ProductVO" parameterType="int">
		SELECT 
			PIDX
		    ,pSaleYn
			,pNameKr
			,pNameEng
			,pBrandKr
			,pBrandEng
			,pPrice
			,pSize
			,pColor
			,pType
			,pFile1
			,pFile2
			,pFile3
			,pFile4
			,pFile5
		,case pGender when 'M' then 'MEN' when 'W' then 'WOMEN' when 'K' then 'KIDS' else 'MEN' end as pGender
   		FROM product
        WHERE pidx = #{pidx}
	</select>
	
	 <insert id="insert" parameterType="productVO">
    <![CDATA[		
		    INSERT INTO cart VALUES(
		    	 ctidx
		    	,NOW()
		    	,#{pidx}		
		    	,#{midx}
		    	,#{cnt}
		    	,#{ctsize}
		    	,#{delyn}
		    )
		    ]]>
		    <selectKey resultType="int" keyProperty="ctidx" order="AFTER">		<!--keyproperty  selectkey의 값 어디에 담을건지? -->
		    	SELECT MAX(ctidx) FROM cart
		    </selectKey>
    </insert>
    
     <insert id="wishInsert" parameterType="productVO">
    <![CDATA[		
		    INSERT INTO wish VALUES(
		    	 widx
		    	,#{pidx}		
		    	,#{midx}
		    )
		    ]]>
		    <selectKey resultType="int" keyProperty="widx" order="AFTER">		<!--keyproperty  selectkey의 값 어디에 담을건지? -->
		    	SELECT MAX(widx) FROM wish
		    </selectKey>
    </insert>
    
    <select id="wlist" resultType="WishListVO" parameterType="int">
   		 SELECT   
   		 	w.widx,
  		 	p.pidx,  
   		 	m.midx, 
   		 	m.mName,  
   		 	p.pPrice,  
  		 	p.pBrandeng,
  		 	p.pBrandkr, 
   		 	p.pNamekr, 
   		 	p.pNameEng, 
   		 	p.pFile1,
   		 	p.pColor, 
  		 	p.pFile1		 	
   		 	FROM wish w, product p, member m 
  		 	WHERE w.pidx=p.pidx AND w.midx = m.midx AND w.midx=#{midx}
	 	ORDER BY widx
  	</select> 
    
     <insert id="productInsert" parameterType="productVO">
		<![CDATA[		
		    INSERT INTO product(PIDX,PNAMEKR,PNAMEENG,PBRANDKR,PBRANDENG,PSIZE,PCOLOR,PGENDER,PTYPE,PFILE1,PFILE2,PFILE3,PFILE4,PFILE5,pWrite,PPRICE)
			VALUES(
		    	 pidx
		    	,#{pNameKr}
		    	,#{pNameEng}		
		    	,#{pBrandKr}
		    	,#{pBrandEng}
		    	,#{pSize}
		    	,#{pColor}
		    	,#{pGender}
		    	,#{pType}
		    	,#{pFile1}
		    	,#{pFile2}
		    	,#{pFile3}
		    	,#{pFile4}
		    	,#{pFile5}
		    	,now()
		    	,#{pPrice}
		    )
		]]>
    </insert>
    
    <delete id="delProduct" parameterType="int">
    	DELETE 
    	FROM product 
    	WHERE pidx = #{pidx}
   </delete>    
  
   <select id="pdAllList" resultType="ProductVO" parameterType="edu.study.domain.Criteria">
 	 SELECT * 
 	 	FROM product 
	 	 ORDER BY pidx DESC 
	 	 LIMIT #{rowStart},15
	</select>
   
   <select id="countAllList" resultType="int">
		SELECT COUNT(*) 
		FROM product
		WHERE 1=1
	</select>
    
    <select id="detail2" resultType="ProductVO" parameterType="int">
		SELECT * FROM product WHERE pidx = #{pidx}
	</select>
    
     <update id="productModify" parameterType="ProductVO">
    	UPDATE product 
    	SET pNameKr = #{pNameKr}
    		, pNameEng = #{pNameEng}
    		, pBrandKr = #{pBrandKr}
	    	, pBrandEng = #{pBrandEng}
	    	, pSize = #{pSize}
	    	, pColor = #{pColor}
	    	, pGender = #{pGender}
	    	, pType = #{pType}
	    	, pFile1 = #{pFile1}
	    	, pFile2 = #{pFile2}
	    	, pFile3 = #{pFile3}
	    	, pFile4 = #{pFile4}
	    	, pFile5 = #{pFile5}
	    	, pPrice = #{pPrice}
    	WHERE pidx = #{pidx}
   	</update>
   	
   	<select id="order" resultType="ProductVO" parameterType="ProductVO">
		SELECT  
            pidx, 
   		 	pPrice,  
  		 	pBrandeng,
  		 	pBrandkr, 
   		 	pNamekr, 
   		 	pColor, 
  		 	pFile1
    		FROM product  WHERE pidx = #{pidx}
	</select>

</mapper>