<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.ProductMapper">
	 <select id="list" resultType="ProductVO">
	 	SELECT pidx
	 		,pNameKr
	 		,pNameEng
	 		,pBrandKr
	 		,PBrandEng
	 		,pPrice
	 		,pSize
	 		,pColor
	 		,pType
	 		,pFile1
	 		,pFile2
	 		,pFile3
	 		,pFile4
	 		,pFile5
	 		,pWrite, 
   		DECODE(pGender,'M','MEN','W','WOMEN','K','KIDS','MEN') as pGender
   		FROM product
   		WHERE 1=1 
   </select>

	<select id="detail" resultType="ProductVO" parameterType="int">
		SELECT pidx
		    ,pSaleYn
			,pNameKr
			,pNameEng
			,pBrandKr
			,pBrandEng
			,pPrice
			,pSize
			,pColor
			,pType
			,pFile1
			,pFile2
			,pFile3
			,pFile4
			,pFile5
			,pWrite
			,pDelYn,
		DECODE(pGender,'M','MEN','W','WOMEN','K','KIDS','MEN') as pGender
   		FROM product
        WHERE pidx = #{pidx}
	</select>
	
	 <insert id="insert" parameterType="productVO">
    <![CDATA[		
		    INSERT INTO cart VALUES(
		    	 ctidx_seq.nextval
		    	,sysdate
		    	,#{pidx}		
		    	,#{midx}
		    	,#{amount}
		    	,#{ctsize}
		    )
		    ]]>
		    <selectKey resultType="int" keyProperty="ctidx" order="AFTER">		<!--keyproperty  selectkey의 값 어디에 담을건지? -->
		    	SELECT MAX(ctidx) FROM cart
		    </selectKey>
    </insert>
    
     <insert id="productInsert" parameterType="productVO">
		<![CDATA[		
		    INSERT INTO product(PIDX,PNAMEKR,PNAMEENG,PBRANDKR,PBRANDENG,PSIZE,PCOLOR,PGENDER,PTYPE,PFILE1,PFILE2,PFILE3,PFILE4,PFILE5,PPRICE
			VALUES(
		    	 pidx_seq.nextval
		    	,#{pNameKr}
		    	,#{pNameEng}		
		    	,#{pBrandKr}
		    	,#{pBrandEng}
		    	,#{pSize}
		    	,#{pColor}
		    	,#{pGender}
		    	,#{pType}
		    	,#{pFile1}
		    	,#{pFile2}
		    	,#{pFile3}
		    	,#{pFile4}
		    	,#{pFile5}
		    	,#{pPrice}
		    )
		]]>
    </insert>
    
  
   <select id="pdAllList" resultType="ProductVO" parameterType="edu.study.domain.Criteria">
   		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM product
						ORDER BY pidx DESC 
						) A
				)
		WHERE RN BETWEEN #{rowStart} AND #{rowEnd}
	</select>
   
   <select id="countAllList" resultType="int">
		SELECT COUNT(*) 
		FROM product 
		WHERE 1=1
	</select>
    
	

</mapper>