*{
font-family: 'Montserrat', "Noto Sans KR", sans-serif;
}

.bigBox{
	margin:auto;
	width:1200px;
}

li{
	list-style:none;
}

.channel{
	margin-top:20px;
	color:#757575;
}

.channel>ul>li{
	display:inline;
	color:#757575;
}

.channel>ul>li>a{
	color:#757575;
}

.brandName{
	margin:auto;
	margin-top:30px;
	font-weight:700;
	text-align:center;
	font-size:29pt;
}

.shoesList>ul>li{
	display:inline;
	text-align:center;
	margin-right:45px;
	font-size:13pt;
	font-weight:400;
}

.shoesList>ul>li>a:hover{
	color:gray;
}

.shoesList{
	margin:auto;
	margin-top:30px;
	margin-bottom:45px;
	text-align:center;
}

.redBold{
	color:red;
	font-weight:500;
}

.redBold2{
	color:red;
	font-weight:500;
	text-decoration:underline;
	text-underline-position:under;
}

.totalPd{
	margin-left:5px;
	margin-top:20px;
	padding-top:100px;
}

.hr1{
	float:right;
	width:80%;
	border:1px solid black;
}

.hr2{
	border:1px solid black;
}

.page{
	text-align:center;
	margin-top:40px;
	height:150px;
	clear:left;
}

.page>ul{
	margin-top:30px;
}

.shoesBrand{
	font-weight:400;
	font-size:12pt;
	margin:10px 5px;
}

.shoesName{
	color:#666666;
	margin-bottom:20px;
	margin-left:5px;
}

.shoesPrice{
	font-weight:700;
	font-size:14pt;
}

.won{
	color:black;
}

.shoesPriceBox{
	margin-left:5px;
}

.filterBox{
	background-color:white;
	width:290px;
	padding:20px;
	display:inline-block;
}
.filterTitle{
	font-weight:700;
	font-size:18pt;
	margin-bottom:20px;
}
h6{
	height:50px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid gray;
}

input[type=checkbox]{
	display:none;
}


.brandPd{
	width:297px;
	float:left;
	margin:10px;
	height:415px;
}

.brandPd:hover{
	border:1px solid black;
}

.brandPd>a>img{
	width:295px;
	height:295px;
	margin-bottom:10px;
}

.bg-light{
	clear:left;
	clear:right;
}

.emptyProductBox{
	text-align:center;
	font-weight:400;
	font-size:18px;
	margin:300px 0;
}

.exclamation{
	color:#808080;
}

.page>ul>li {
	display:inline;
	padding: 6px;
	text-align:center;
}

.pdInsertBtn{
	margin-top:20px;
	text-align:center;
	padding:11px;
	background-color:black;
	width:120px;
	height:40px;
	color:white;
	float:right;
}

.pdInsertBtn:hover{
	background-color:#787878;
}

.myPageTitle{
	height:50px;
	margin-top:40px;
	border-radius: 15px 15px 0px 0px;
	font-size:30px;
	font-weight:bold;
}

.myPageMenu2{
	margin-top:30px;
	margin-right:10px;
	font-size:14px;
}

.myPageMenu3{
	font-size:14px;
	margin-top:10px;
}

.gray{
	color:gray;
}

.red{
	color:red;
	font-weight: bold;
}

.red:hover{
	color:red;
}

.brandPdBox{
	width:80%;
	float:right;
}

